* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: #3e49b1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.poster-container {
  position: relative;
  width: 350px;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}

.poster {
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding-bottom: 105px;
}

.vote-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
}

.vote-banner p {
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}

.vote-button {
  padding: 6px 12px;
  border: none;
  background-color: white;
  font-size: .75em;
}