* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: #3e49b1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.hide-home-btn {
  display: none
}

.show-home-btn {
  display: block;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
}

.search {
  padding: 10px;
  width: 25%;
  max-width: 400px;
  margin-right: 100px;
}

.hidden {
  display: none;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}